
<% if @category.first_page %>
<div id="page">
<div id="page_content">
<div>
	<h3 id="page_title">
		<%= @page.title %>
		<% if is_logged_in? %><span class="admin_actions">
						<%= link_to image_tag('page_delete.png'), category_page_path(@category, @page), :confirm => "La page va être supprimée", :class => 'negative', :method => :delete %>
						<%= link_to image_tag('page_edit.png'), edit_category_page_path(@category, @page) %>
		</span><% end %>
	</h3>
</div>
</div>

<div id="page_sidebar">
	<h3><%= @category.name %></h3>
	<ul id="pages_titles">
	<% @category.pages_titles.each do |pt| %>
		<li <%= pt.related_id ? 'id="related_page_'+pt.related_id.to_s+'"' : 'id="page_'+pt.id.to_s+'"' %> class="<%= cycle('even', 'odd') %> <%= 'related_page' if pt.related_id %> page_link"><%= link_to '&#187;&nbsp;&nbsp;'+pt.title, category_page_path(@category, pt) %></li>
	<% end %>
	</ul>
	<div id="vad">
	</div>
</div>
</div>

<% else %>
	<div id="page">
	Aucune page n'est encore associée à cette rubrique
	</div>
<% end %>
